html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);

	font-family: "Noto Sans", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: #FFF;
	--gray-light: #EBEBEB;
	--primary: #7653FC;
	--primary-hover: #4D28DA;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--main-font: "Noto Sans", sans-serif;
}
